<div id='mainTitle' class='homeTitle'>
	<h2>Top Questions</h2>
</div>

<% @questions.each do |question| %>

	<div id='question<%=question.id%>' class='question'>
		<div class='questionText floatL'><%=h question.text%></div>
		<div class='floatR'><a href='/<%=question.id%>'>Answer/Read</a></div>
		<div class='clear'></div>
	</div>

<% end %>