<html>
<head>
<title><%= @title %></title>
<style type='text/css'>

* {
	padding: 0;
	margin: 0;
}

body {
	color: black;
}

#pageWrap {
	margin: 0 auto;
	width: 960px;
}

#header {
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

#headerTitle a {
	color: black;
	text-decoration: none;
}

#mainTitle {
	padding: 5px 0px;
}

.homeTitle {
	border-bottom: 1px solid gray;
}

#menuBar {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 8px;
}

#menuBar a {
	color: black;
	text-decoration: none;
	margin: 0 10px;
}

.question {
	padding: 10px 0px;
	border-bottom: .5px solid gray;
}

.floatL { float: left; }
.floatR { float: right; }
.clearL { clear: left; }
.clearR { clear: right; }
.clear { clear: both; }

.answer {
	border-top: 1px solid black;
	margin: 5px 0;
	padding: 5px 0;
}
.answerText { font-size: 1.2em; }
.upAnswer { color: green; margin: 5px 10px; }
.downAnswer { color: red; margin: 5px 10px; }

.notice { color: green; }
.error { color: red; }

#askQuestionNameText {
	font-size: 1.5em;
	height: 30px;
	margin: 10px;
	width: 940px;
	padding-left: 10px;
}

#askQuestionTextBox {
	font-size: 1.5em;
	height: 60px;
	margin: 10px;
	width: 940px;
	padding: 5px;
}

#askQuestionSubmitBtn {
	height: 40px;
	padding: 10px;
}

#charactersRemaining {
	margin: 0 10px;
	text-align: right;
}

#charsRemainingSpan {
	margin-right: 15px;
}

#number {
	font-weight: bold;
}

.thumbSpan {
	font-weight: bold;
	margin: 0 5px;
	position: relative;
	top: -2px;
}

.thumbImg {
	height: 18px;
	width: 16px;
	border: 0 none;
	margin: 0;
	padding: 0;
	color: #000000;
	white-space: nowrap;
}

#thumbsUpImg {
	background: url("http://s.ytimg.com/yt/imgbin/www-master-vflX0FKfU.png") no-repeat scroll -72px -129px transparent;
}

#thumbsDownImg {
	background: url("http://s.ytimg.com/yt/imgbin/www-master-vflX0FKfU.png") no-repeat scroll -123px -57px transparent;
}

.feedBackSpan {
	display: none;
}

</style>
</head>
<body>
<div id='pageWrap'>
	<div id='header'>
		<div id='headerTitle'>
			<h1><a href='/'>God Answers</a></h1>
		</div>
		<div id='headerSubTitle'>
			<h3>Apologetics in 140 characters</h3>
		</div>
	</div>
	<div id='menuBar'>
		<a href='/'>Home</a>
		<a href='/askQuestion'>Ask a Question</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<div id='main'>
		<% if flash[:notice] %>
			<div class='notice'><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:error] %>
			<div class='error'><%= flash[:error] %></div>
		<% end %>
		
		<%= yield %>
	</div>
	
</div>
</body>
</html>