<html>
<head>
<title><%= @title %></title>
<link type='text/css' rel='stylesheet' href='styles.css' media=screen></link>
</head>
<body>
<div id='pageWrap'>
	<div id='header'>
		<div id='headerTitle'>
			<h1><a href='/'>God Answers</a></h1>
		</div>
		<div id='headerSubTitle'>
			<h3>Apologetics in 140 characters</h3>
		</div>
	</div>
	<div id='menuBar'>
		<a href='/'>Home</a>
		<a href='/askQuestion'>Ask a Question</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="retweet.js"></script>
	<div id='main'>
		<% if flash[:notice] %>
			<div class='notice'><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:error] %>
			<div class='error'><%= flash[:error] %></div>
		<% end %>
		
		<%= yield %>
	</div>
	
</div>
</body>
</html>